<div class="container-fluid pt-1">
  <div class="display-3 text-center ">
    <h2 class="batch-class">{{ batchObj.batchName }}</h2>
  </div>
</div>
<div class="container">
  <div class="m-3">
    <div class="icon-class">
      <i
        class="fas fa-user-plus fa-2x"
        data-toggle="modal"
        data-target="#addStudentModal"
      >
        <span class="batch-btn">Add Student</span>
      </i>
    </div>
  </div>
</div>
<div class="container">
  <div class="modal" id="addStudentModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">Anirudh</div>
      </div>
    </div>
  </div>
</div>
