.icon-class {
  cursor: pointer;
}
.batch-btn {
  font-size: 20px;
  font: 500;
  font-family: "Times New Roman", Times, serif;
  padding-left: 5px;
  border-bottom: 1px solid blue;
}
.batch-class {
  font-family: "Times New Roman", Times, serif;
  font: bold;
  border-bottom: 2px solid #000000;
  font-size: 40px;
}
.slight-padding {
  padding: 2px;
  cursor: pointer;
}
.icon-class {
  cursor: pointer;
}
.disabled-class {
  cursor: none;
  display: none;
  visibility: hidden;
}
