<div class="container pt-2">
  <div class="row text-center">
    <div class="col-sm-12">
      <div class="display-5 font-class">
        <p>
          In the United Kingdom and the Isle of Man the term "institute" is a
          protected word and companies or other organizations may only use the
          word if they are "organisations" which are carrying out research at
          the highest level or to professional bodies of the highest standing".
          Furthermore, if a company is carrying on a business under a different
          name to the company name, that business name must comply with the
          Business Names Act. Use of the title "institute" requires approval
          from the Secretary of State. Failure to seek approval is a criminal
          offence.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container pt-2">
  <div>
    <label><h1>Our History</h1></label>
  </div>
  <div class="display-class">
    <p>
      Second Campus Learning Solutions is founded by a group of Software
      Architects from reputed MNCs. Each member of our team has been involved in
      Tech Industry for more than 15 years. List of MNCs we have been part of,
      include IBM, INFOSYS, CAPGEMINI, Cognizant, United Health Group, SISL,
      SIEMENS, Apollo Health Street, CARE ,IDEA OBJECT, TELSTRA , CA
      Technologies , Motorola, MACH , Lycos and Hewlett-Packard. We have
      mentored by the team from IISC , IIT , and software companies CTO.
    </p>
  </div>
</div>
<div class="container">
  <div style="display: inline-block;" class="text-center">
    <img
      src="../../assets/infi.png"
      alt=""
      srcset=""
      width="200px"
      style="padding: 15px;"
    />
    <img
      src="../../assets/ibm.png"
      alt=""
      srcset=""
      width="200px"
      style="padding: 15px;"
    />
    <img
      src="../../assets/capgi.png"
      alt=""
      srcset=""
      width="200px"
      style="padding: 15px;"
    />
    <img
      src="../../assets/infi.png"
      alt=""
      srcset=""
      width="200px"
      style="padding: 15px;"
    />
    <img
      src="../../assets/ibm.png"
      alt=""
      srcset=""
      width="200px"
      style="padding: 15px;"
    />
  </div>
</div>
