<!--  -->
<div class="container" style="text-align: center;">
    <a class="nav-link" routerLink="AddNewStudent" routerLinkActive="router-link-active"  data-toggle="tooltip"
    data-placement="bottom" title="AddNewStudent!" data-toggle="modal" data-target="#myModal12"  >
    <i class="fa fa-plus-circle fa-3x" aria-hidden="true">
    </i>
  </a>
</div>

<!--  -->
<div class="container">
  <h1>Students DataB21</h1>

  <form class="table">
    <table border="4">
      <thead>
        <th>Student_ID</th>
        <th>Student Name</th>
        <th>Contact</th>
        <th>Guardian Name</th>
        <th>Guardian Contact</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
      <tr>
        <th>{{bala}}</th>
        <th>{{balas}}</th>
        <th>{{balreddy}}</th>
        <th>{{vasu}}</th>
        <th>{{kbkr}}</th>
        <th><button type="submit" class="btn btn-warning">
            <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
          </button></th>
        <th><button type="submit" class="btn btn-danger">
            <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          </button></th>



      </tr>
    </table>
  </form>
 
</div>

<div>
    <router-outlet></router-outlet>
    <app-add-new-student></app-add-new-student>
  
</div>
  






















































































































































































































































