<div class="row">
<div class="col-sm-2">
    <div class="sidebar">
        <!-- <a class="active" href="#home">Home</a> -->
        <a class="actived"  routerLink="batch">Batch</a>
        <a  class="activ"  routerLink="attendance">Attendance</a>
        <a class="acti" routerLink="view_all">View All</a>
      </div>
</div>
<div class="col-sm-10">
  <!-- Page content -->
  <div class="main mt-2">
      <router-outlet></router-outlet>
  </div>
</div>
</div>
<!--  -->
 <!-- The Modal -->
  <!-- <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">  -->
        <!-- Modal Header -->
         <!-- <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
        </div>     -->
        <!-- Modal body -->
        <!-- <div class="modal-body">
    Model-Body
        </div>
      </div>
    </div>
  </div> -->


