/* .navbar-class {
  border: 2px solid #000000;
  background: #fff;
  min-height: 100% !important;
}
li:hover {
  cursor: pointer;
}
li {
  width: 100%;
  height: 100%;
}
.nav-navbar {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
div.nav-link:focus {
  border: outset;
  outline: 0;
} */


/* The side navigation menu */

.sidebar {
  position: absolute;
  overflow: hidden;

  margin: 0;
  padding: 0;
  width: 180px;
  background-color:#008CBA ;
  position: fixed;
  height: 100%;
  overflow: auto;
  transition: .5s ease;

}


/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.h1{
  background-color:#008CBA;
}
/* Active/current link */
/* .sidebar a.active {
  background-color: #4CAF50;
  color: white;
}
.sidebar a.activ {
  background-color:purple;
  color: white;
}
.sidebar a.acti {
  background-color: aqua;
  color: white;
} */

/* Links on mouse-over */
/* .sidebar {
  position: absolute;
  
  background-color: #008CBA;
  overflow: hidden;
  height: 100%;
  transition: .5s ease;
} */


/*  */
.sidebar a:hover:not(.active) {
  background-color:rgb(201, 35, 145);
  color: white;
  width: 100%;

}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
