<!-- <div class="container-fluid" style="padding: 0;">
  <div class="row">
    <div class="col-sm-4">
      <div class="navbar-class">
        <nav class="navbar">
          <ul class="navbar-nav nav-navbar">
            <li class="nav-item">
              <div class="nav-link" >
                Batch
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link" routerLink="attendance">
                Attendance
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link" routerLink="view_all">
                View All
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
   
  </div>
</div> -->
<!-- The sidebar -->
<div class="sidebar">
  <!-- <h4 class="h1">AdminDashboard</h4> -->
  <a class="navbar-brand" >AdminDashboard</a>
  <!-- class="active" -->
  
  <a routerLink="batch">
    <i class="fa fa-home fa-lg" aria-hidden="true"> Batch</i>
  </a>
  <a  routerLink="attendance">

    <i class="fa fa-sign-language fa-lg" aria-hidden="true"> Attendance</i>

  </a>
  <a  routerLink="view_all">
    <i class="fa fa-users" aria-hidden="true">  View All</i></a>
</div>

<!-- Page content -->
<div class="content">
  <router-outlet></router-outlet>
</div>

