input {
  border: 1px solid #000000;
  font-family: sans-serif, "Times New Roman", Times, serif;
  font-size: 25px;
}
input:focus {
  border: none;
}
input::placeholder {
  padding-top: 5px;
  font-family: sans-serif, "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: 500;
}
button {
  font-family: sans-serif, "Times New Roman", Times, serif;
  font-size: 25px;
  border-radius: 0.5em;
}

/*  */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* 
<body style="text-align:center;">

<p>Move the mouse over the text below:</p>

<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>
 */
