<p>attendance works!</p>
<!--  -->
<div class="container">
<h1>attendance</h1>
<table border="1">
    <thead>
        <th>Student_ID</th>
        <th>Student Name</th>
        <th>Data</th>
        <th>Attendance</th>
<tr>
    <th>{{balas}}</th>
    <th>{{BALA}}</th>
    <th>{{vasu}}</th>
    <th><input type="radio" value="present" name="attendence">present<br>
        <input type="radio" value="Absent" name="attendence"  >Absent
    </th><br>
</tr>
    </thead>

   
</table>
<div>
        <button type="submit"class="btn btn-success" >Save</button>

</div>

</div>
