<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
  </ul>

  <div class="carousel-inner text-center">
    <div class="carousel-item active">
      <img src="../../assets/1.jpg" alt="1" width="1000px" />
    </div>
    <div class="carousel-item text-center">
      <img src="../../assets/2.jpeg" alt="2" width="1000px" />
    </div>
    <div class="carousel-item text-center">
      <img src="../../assets/3.jpg" alt="3" width="1000px" />
    </div>
    <div class="carousel-item text-center">
      <img src="../../assets/4.jpg" alt="4" width="1000px" />
    </div>
    <div class="carousel-item text-center">
      <img src="../../assets/5.jpg" alt="5" width="1000px" />
    </div>
  </div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <div class="bg-dark" style="height: 50px; width: 70px;">
      <span class="carousel-control-prev-icon m-3"></span>
    </div>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <div class="bg-dark" style="height: 50px; width: 70px;">
      <span class="carousel-control-next-icon m-3"></span>
    </div>
  </a>
</div>
